* {
  font-family: Montserrat, Calibri, sans-serif;
  color: #438;
}

main {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  text-transform: lowercase;
}

canvas {
  border: 4px solid;
}