/* 100 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-100.otf")  format("opentype");
    font-weight: 100;
    font-style: normal;
}

/* 200 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-200.otf")  format("opentype");
    font-weight: 200;
    font-style: normal;
}

/* 300 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-300.otf")  format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* 400 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-400.otf")  format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* 500 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-500.otf")  format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* 600 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-600.otf")  format("opentype");
    font-weight: 600;
    font-style: normal;
}

/* 700 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-700.otf")  format("opentype");
    font-weight: 700;
    font-style: normal;
}

/* 800 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-800.otf")  format("opentype");
    font-weight: 800;
    font-style: normal;
}

/* 900 */

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-900.otf")  format("opentype");
    font-weight: 900;
    font-style: normal;
}